
$background: #e5e5e5;

body {
  display: grid;
  grid-template-columns: auto 800px auto;
  padding: 0;
  margin: 0;
  align-items: center;
  font: 400 11px/1.2 Verdana, sans-serif;
  background: $background;
}

.container {
  display: grid;
  grid-template-columns: 40% 58%;
  grid-column: 2 / 3;
  grid-column-gap: 10px;
  padding: 100px 10px 0;
  width: 100%;
  background: #fff;
}

.header {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  height: 100px;
  width: 820px;
  left: 50%;
  transform: translateX(-50%) translateX(10px);
  background: #003399;
}

.header-nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
  background: #6698CB;
  margin: 0;
  padding: 0 1em;
  height: 26px;
}

.header-nav li {
  position: relative;
  height: 26px;
  margin: 0;
  padding: 0 .5em;
  line-height: 26px;
}

.header-nav li:not(:last-of-type):after {
  display: inline-block;
  content: '|';
  position: absolute;
  right: -3px;
  top: 0;
  color: #000;
}

.header-nav li {
  color: #fff;
}

.my-link {
  font-weight: 700;
  text-decoration: none;
  color: #039;
}

.my-link:hover {
  color: #C00;
  text-decoration: underline;
}

.container .column {
  padding: 0 10px;
}

.profile-hero {
  display: grid;
  grid-template-columns: 60% 40%;
  
  &-left .mood {
    margin-bottom: .25em;
  }
  
  &-left .view-my {
    margin-top: 0;
  }
  
  &-right {
    padding-top: 40px;
    padding-left: 10px;
    
    p {
      margin: 0;
      line-height: 1.3
    }
  }
  
  &-right .tagline     { margin-bottom: 1em; }
  &-right .gender      { margin: 0; }
  &-right .city        { margin: 0; }
  &-right .state       { margin: 0; }
  &-right .country     { margin-bottom: 1.5em; }
}

.profile-pic {
  height: 138px;
  width: 170px;
  background: $background;
  background-image: url('images/ian-orange.jpg');
  background-size: 100%;
  background-position: center top;
}

.panel {
  margin-bottom: 1em;
  border-left: 2px solid #6699cc;
  border-right: 2px solid #6699cc;
  border-bottom: 2px solid #6699cc;
}

.panel-title {
  display: block;
  padding: .25em  .75em;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: white;
  background: #6699cc;
}

.contact-panel {
  margin-bottom: 2em;
}

.contact-body {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: .5em 0 1em;
}

.contact-body a {
  padding: .5em .5em .5em 2em;
}

.panel-body {
  padding: 3px;
  display: grid;
  grid-template-columns: calc(40% - 3px) 60%;
  grid-gap: 3px;
  box-sizing: border-box;
}

.panel-body .panel-key {
  padding: 3px;
  font-weight: 700;
  color: #336699;
  background: #b1d0f0;
}
.panel-body .panel-value {
  padding: 3px;
  background: #d5e8fb;
}

.status-box {
  margin: 1em 0;
  padding: 1.6em 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border: 2px solid #000;
}

.highlight-section {
  margin: 1.5em 0;
  
  .highlight-title {
    display: block;
    padding: .1em 1em;
    font-weight: 700;
    font-size: 12px;
    color: #FF6600;
    background: #ffcc99;
  }
  
  h5 {
    margin: .5em 0 .2em;
    font-weight: 700;
    font-size: 12px;
    color: #FF6600;
  }
  
  h5:not(:first-of-type) {
    margin-top: 2em;
  }
  
  p {
    margin: 0;
  }
}

.top-8__count {
  font-weight: 700;
  line-height: 2.25;
  
  span {
    font-size: 1.2em;
    font-weight: 400;
    color: #cc0000;
  }
}

.top-8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  
  .friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    
    &__name {
      line-height: 2;
      text-align: center;
    }
    
    &__photo {
      height: 100px;
      width: 100px;
      background: #222;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      
    }
  }
}

// Top 8
.top-8 .friend:nth-of-type(1) .friend__photo {
  background-image: url('images/akon.jpg');
  height: 100px;
}
.top-8 .friend:nth-of-type(2) .friend__photo {
  background-image: url('images/cam.jpg');
  height: 120px;
}
.top-8 .friend:nth-of-type(3) .friend__photo {
  background-image: url('images/squidward.png');
  height: 104px;
}
.top-8 .friend:nth-of-type(4) .friend__photo {
  background-image: url('images/ron-swanson.jpg');
  height: 129px;
}
.top-8 .friend:nth-of-type(5) .friend__photo {
  background-image: url('images/gandhi.png');
  height: 130px;
}
.top-8 .friend:nth-of-type(6) .friend__photo {
  background-image: url('images/wes.jpg');
  height: 108px;
}
.top-8 .friend:nth-of-type(7) .friend__photo {
  background-image: url('images/momo.jpg');
  height: 110px;
}
.top-8 .friend:nth-of-type(8) .friend__photo {
  background-image: url('images/raina.jpg');
  height: 120px;
}


